.side-bar-container {
  font-family: courier;
  color: white;
  width: 200px;
  background: rgba(220,226,237,0.3);
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 1000px;
  border: 1px solid gray;
}

.side-bar-item {
  margin: 2px;
  border: 1px solid gray;
  background: rgba(0,0,0,0.5);
}
.planet-info {

}

.orb-center-input {
  width: 40px;
}

.add-planet-form {
  margin: 15px;
}

.button {
  color: white;
  font-size: 25px;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover{
  cursor: pointer;
}

.canvas-wrapper {
  height: 1000px;
  width: 1000px;
}
