.app-container {
  height: 100vh;
}

.canvas-wrapper{
  height: 100vh;
  position: fixed;
}

.side-bar-container {
  display: flex;
  flex-direction: column;
  font-family: courier;
  color: white;
  height: 85vh;
  width: 250px;
  background: rgba(220,226,237,0.3);
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 1000px;
  border: 1px solid gray;
}

.orb-center-input {
  display: none;
}

.orb-center-span {
  display: none;
}

.side-bar-item-container{
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.side-bar-item {
  margin: 2px;
  border: 1px solid gray;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.planet-info {

}

.error-message{
  color: red;
  font-family: sans-serif;
  font-size: 10px;
}

.orb-center-input {
  width: 40px;
}

.add-planet-form {
  margin: 15px;
}

.button {
  color: white;
  font-size: 25px;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover{
  cursor: pointer;
  color: #00ffff;
  background: rgb(40,40,40);
}

.minus {
  border: 1px solid rgb(70,70,70);
}

.canvas-wrapper {
  height: 1000px;
  width: 1000px;
}
