@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  margin: 0;
}
.app-container {
  height: 100vh;
}

.canvas-wrapper{
  height: 100vh;
  position: fixed;
}

.top-bar {
  height: 50px;
  display: flex;
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: white;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 5vw;
}

.title {
  height: 100%;
  width: 170px;
  position: relative;
 }

 .title-span {
   position: absolute;
   bottom: 0;
 }

img {
  height: 100%;
  width: 50px;
  margin-top: 5px;
  margin-left: -21px;
}

.help-button {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  position: fixed;
  top: 2vh;
  right: 2vw;
}

.help-button:hover {
  cursor: pointer;
}

.help-modal-container {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.help-modal {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  min-height: 100px;
  width: 30%;
  background: rgba(0,0,0,0.75);
  border: 1px solid gray;
  border-radius: 2px;
  margin: 10% auto;
  padding: 20px;
}

.footer {
  align-items: vertical;
  display: flex;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  width: 60vw;
  z-index: 1000;
  position: fixed;
  bottom: 1vh;
  right: 6vh;
  justify-content: flex-end;
}

.footer-text {
  line-height: 30px;
}

.footer-text.contact {
    margin-left: 20px;
}

.links {
  display: flex;
}

.link {
  margin-left: 20px;
}


.fa {
  font-size: 30px !important;
}


.fa-paper-plane{
  font-size: 25px !important;
}

a{
  color: white;
}



.side-bar-container {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  color: white;
  height: 85vh;
  width: 255px;
  background: rgba(255,255,255,0.3);
  position: fixed;
  top: 70px;
  left: 50px;
  z-index: 1000px;
  border: 1px solid gray;

}

.orb-center-input {
  display: none;
}

.orb-center-span {
  display: none;
}

.planet {
    margin: 10px 0;
}

.planet .planet-color {
  display: flex;
  align-items: center;
}

.planet .planet-color span {
  margin-right: 10px;
}

.planet .planet-color input[type="color" i] {
  border-radius: 2px;
}

.side-bar-item-container{
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.side-bar-item {
  margin: 2px;
  border: 1px solid gray;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.planet-info {

}

.error-message{
  color: red;
  font-family: sans-serif;
  font-size: 12px;
}

.orb-center-input {
  width: 40px;
}

.form-input {
 width: 85%;
}

.orbital-radius {
  width: 80%
}

.add-planet-form {
  margin: 15px;
  font-size: 12.5px;
}

.add-planet-form .planet-name {
  display: flex;
  align-items: center;
}

.add-planet-form .planet-name input{
  margin-left: 10px;
  font-weight: bold;
  border: none;
  height: 20px;
  border-radius: 2px;
}

.button {
  color: white;
  font-size: 25px;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addPlanet {
  margin: 20px 0 0;
  width: 50%;
  font-size: 14px;
}
.button:hover{
  cursor: pointer;
  color: #00ffff;
  background: rgb(40,40,40);
}

.minus {
  border: 1px solid rgb(70,70,70);
}

.canvas-wrapper {
  height: 1000px;
  width: 1000px;
}
